server {
    listen 3000;

    root {{ dir }}/front_pg-promise;
    index.html;
    
    server_name {{ server_name }};

    location / {
        default_type "text/html";
        try_files $uir.html $uri $uri/ =404;
    }
}
