name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  test:
    name: Molecule
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./roles/git_pg-promise/
    
    strategy:
      matrix:
        distro:
          - ubuntu2004
          - debian10
          
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        
      - name: Sending vault file
        run: echo '${{secrets.VAULT}}' > ~/.vault
        
      - name: Set up Python3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
        
      - name: Install test dependencies.
        run: pip3 install ansible molecule[docker] yamllint ansible-lint
      
      - name: Sending vault variables
        run: echo '${{secrets.GITVAULT}}' > ~/secrets.yml
      
      - name: Encrypt vault variables
        run: ansible-vault encrypt ~/secrets.yml --vault-pass-file ~/.vault
     
      - name: Run molecule test.
        run: molecule test
        env:
          PY_COLOR: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: '${{matrix.distro}}'
